@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing:border-box; /*by seeting this property allover the page that means each elements width  includes padding + border*/ 
font-family:'Roboto',sans-serif;
}
nav{
    display:flex;
 justify-content: space-between;
    padding:0 20px;
    height:80px;
    background-color: rgb(204, 186, 220);
}

.nav__logo{
    width: 150px;
    height:100px;
    padding:0px;
}
img{
    max-width:100%;/* this will make sure that all the images take 100% width of its oarent here parent is .header__container*/
    height: auto;
    display: block;
   
}
body{
max-width:100vw;
overflow-x: hidden;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.nav__links{
    display: flex;
    gap:20px;
margin-top:20px;
list-style-type: none;
}

.nav__link:hover{
    text-decoration:underline;
}
.nav__link--primary{
    border:2px solid;
    color:blueviolet;
    padding:2px;
}
.nav__link--primary:hover{
    text-decoration:none ;
}
.btn__menu{
    background-color: transparent;
    font-size:40px;
    text-align:center;
    border:none;
    color:#7342d6;
}

.menu__backdrop{
    background-color: black;
    position: absolute;
    top:0;
    left:0;
   height: 100vh;
   width:100vw;
    z-index:100;
    display: flex;
    opacity:0;/* opacity and visibility will make it not visibile*/
    visibility:hidden ;
}
.menu--open .menu__backdrop{
    display:flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    opacity:1;
}
.btn__menu--close{
    position:absolute;
    top:20px;
    right:10px;
}
.menu__links{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:100px;
}
.menu__list{
    padding:32px 0px;

}
.menu__link{
    color:white;
    font-size:28px;
}
.purple{
    color: #7342d6;
    font-size: bold;
}

header{
width:calc(100vw-80px);
 background-color: rgb(204, 186, 220);
}
.header__container{
    width: 100%;
    max-width: 720px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
justify-content: space-around;

}
.header__description{
    display: flex;
    flex-direction: column;
align-items: center;
}
h1{
    font-size:56px;
    color:#7342d6;
    text-align:center;
    margin-bottom:24px;
}
.feature__row h2{
   text-align:center;
    margin-bottom: 20px;
}
button:hover{
    cursor:pointer;
}
button:active{
    transform:translateY(10px);
}
button {
    padding:10px;
    background-color: blueviolet;
    color:white;
    border:none;
    border-radius:5px;
   margin-bottom: 40px;
}
.header__image--wrapper{
    padding:20px;
}
.highlight__conatiner{
    padding: 56px 0px;
    width:100vw;
}
.highlight__row{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
}
.highlight__sub-title {
  margin-top: 20px;;  
}
.highlight--wrapper{
    display:flex;
    
}
.highlight{
width:calc(100% /3);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.highlight__para{
    text-align:center;
}
.highlight__img{
    font-size: 26px;
    border:#7342d6 solid ;
    padding:20px;
    margin:20px;
    border-radius:10px;
    
}
#highlights{
    position:relative;
}
#highlights:before{
content:"";
background:url('assets/wave.svg');
width:101vw;
height:12vh;
position:absolute;
top:1px;
left:0px;
z-index: 1;
transform:translateY(-100%);
background-size:cover;
background-repeat: no-repeat;

}
#highlights:after{
content:"";
background:url('assets/wave.svg');
width:101vw;
height:12vh;
position:absolute;
bottom:1px;
left:0px;
z-index: 1;
transform:translateY(100%) rotate(180deg);
background-size:cover;
background-repeat: no-repeat;


}
#features{
    padding-top: 40px;
    background-color: rgb(204, 186, 220);

}
.books{
    display:flex;
}
.book{
    padding:10px;
    translate: all 200ms ease;
    width:calc(100% /4);
    
}
.book__title{
    margin-top:5px;
}
.book__img:hover{
    transform:scale(1.3);

}
.book__img{
    width: 250px;
    height:350px;
}

.book--ratings{
    color:goldenrod;
    margin-bottom:5px;
    
}
.book__price--normal{
    
    text-decoration:line-through;
    
}
.latest__container{
    margin-top:20px;
}
.latest--books{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-around;
    
}
#explore{
    background-color:rgb(204, 186, 220);
    margin-top:20px;
    padding:20px;
}
.explore__row{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__row{
    background-color: black;
    padding:40px;
}
.footer__img{
    width:160px;
    filter: grayscale(1) invert(1);
    margin:0 auto;

}
.footer__links{
display:flex;
justify-content: center;
gap :40px;
margin:20px;

}
.footer__link{
    color:white;
    text-decoration: none;
}
@media(max-width:768px){
    .header__description{
        padding: 0 20px;
        margin: 20px;
    }
    h1{
        font-size:26px;
    }
    button{
        font-size:18px;
    }
    .book__img{
       width:50%;
    }
}
@media(max-width:550px){
    .nav__links{
        display:none;
    }
.highlight--wrapper{

}
}
    