@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing:borderbox; /*by seeting this property allover the page that means each elements width  includes padding + border*/ 
font-family:'Roboto',sans-serif;
}
nav{
    display:flex;
 justify-content: space-between;
    padding:0 20px;
    height:80px;
    background-color: rgb(204, 186, 220);
}

.nav__logo{
    width: 150px;
    height:100px;
    padding:0px;
}
img{
    width:100%;/* this will make sure that all the images take 100% width of its oarent here parent is .header__container*/
   height:100%;
    max-height: 50vh;
padding:20px;
}
body{
max-width:100vw;
overflow-x: hidden;
}
.nav__links{
    display: flex;
    gap:20px;
margin-top:20px;
list-style-type: none;
}
.nav__link{
    text-decoration: none;
}
.nav__link:hover{
    text-decoration:underline;
}
.nav__link--primary{
    border:2px solid;
    color:blueviolet;
    padding:2px;
}
.nav__link--primary:hover{
    text-decoration:none ;
}
.purple{
    color: #7342d6;
    font-size: bold;
}
header{
width:calc(100vh-80px);
 background-color: rgb(204, 186, 220);
}
.header__container{
    width: 100%;
    max-width: 720px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
justify-content: space-around;

}
.header__description{
    display: flex;
    flex-direction: column;
align-items: center;
}
h1{
    font-size:56px;
    color:#7342d6;
    text-align:center;
    margin-bottom:24px;
}
h2{
   text-align:center;
    margin-bottom: 20px;
}
button:hover{
    cursor:pointer;
}
button:active{
    transform:translateY(10px);
}
button {
    padding:10px;
    background-color: blueviolet;
    color:white;
    border:none;
    border-radius:5px;
   margin-bottom: 40px;
}
.header__image--wrapper{
    padding:20px;
}
.highlight__conatiner{
    padding: 56px 0px;
    width:100vw;
}
.highlight__row{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
}
.highlight__sub-title {
  margin-top: 20px;;  
}
.highlight--wrapper{
    display:flex;
    
}
.highlight{
width:calc(100% /3);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.highlight__para{
    text-align:center;
}
.highlight__img{
    font-size: 26px;
    border:#7342d6 solid ;
    padding:20px;
    margin:20px;
    border-radius:10px;
    
}
#highlights{
    position:relative;
}
#highlights:before{
content:"";
background:url('assets/wave.svg');
width:101vw;
height:12vh;
position:absolute;
top:1px;
left:0px;
z-index: 1;
transform:translateY(-100%);
background-size:cover;
background-repeat: no-repeat;

}
#highlights:after{
content:"";
background:url('assets/wave.svg');
width:101vw;
height:12vh;
position:absolute;
bottom:1px;
left:0px;
z-index: 1;
transform:translateY(100%) rotate(180deg);
background-size:cover;
background-repeat: no-repeat;


}
#features{
    height:1000px;
    background-color: rgb(204, 186, 220);
    width:100%;
}
